<style>
  /* Import the desired font family */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

  body {
    font-family: 'Roboto', sans-serif;
  }

  .sidebar {
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    color: white;
    width: 220px;
    padding: 20px;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar a {
    display: block;
    color: rgb(29, 12, 12);
    text-decoration: none;
    padding: 10px 0;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
  }

  .sidebar a i {
    margin-right: 5px;
  }

  .sidebar a:hover {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    border-radius: 10px;
  }

  .sidebar .logout-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #e74c3c;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-size: 18px;
    text-align: center;
  }

  .sidebar .logout-button:hover {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  }
</style>

<nav class="sidebar">
  <ul>
    <li><a href="{% url 'hrdash' %}"><i class="fas fa-user"></i> Profile</a></li>
    <li><a href="{% url 'postjob' %}"><i class="fas fa-plus-circle"></i> New Job Post</a></li>
  </ul>
  <button class="logout-button"><a href="{% url 'logout' %}">LogOut</a></button>
</nav>